<h1>Log in</h1>

<%=form_with(url: login_path, scope: :session, local: true) do |f|%>

<%=f.label :email, "REGISTERED EMAIL" %>
<%=f.text_field :email%>
<h2>---------------------------------------------------------</h2>
<%=f.label :password, "YOUR PASSWORD"%>
<%=f.text_field :password%>

<%=f.submit "LOGIN"%>

<p>IS THIS FIRST TIME TO VISIT? <%= link_to 'Sign up now!', new_user_path %></p>

<%end%>