<h1>id:<%=@task.id%>の編集</h1>

<%=form_with(model: @task, local: true) do |f|%>
<%= render 'layouts/error', model: @task %>

  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>
<%= render 'layouts/form', model: @task %>

  <%end%>
  
<%=link_to "一覧ページに戻る。", root_path %>