<h1>id:<%=@task.id%>の編集</h1>

<%=form_with(model: @task, local: true) do |f|%>
<%= render 'layouts/error', model: @task %>

  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>
  <%= f.label :status, '進行状況' %>
  <%= f.text_field :status %>
  <%= f.submit "投稿"%>
  <%end%>
  
<%=link_to "一覧ページに戻る。", root_path %>