<h1>Please sign up!</h1>


<%=form_with(model: @user, local: true) do |f|%>

<%=render "layouts/error", model: f.object%>
<ul>
<li><%=f.label :name, "User Name" %> : <%=f.text_field :name%></li>
<li><%=f.label :email, "EMAIL" %> : <%=f.email_field :email%></li>
<li><%=f.label :password, "PASSWORD"%> : <%=f.password_field :password%></li>
<li><%=f.label :password_confirmation, "PASSWORD AGAIN"%> : <%=f.password_field :password_confirmation%></li>


<li><%=f.submit "sign up"%></li>
</ul>

<p>Or do you have your own account?? <%= link_to 'Login', login_path %></p>

<%end%>